.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 244px;
  margin-top: 64px;
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
  padding: 24px 0 24px 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.content img {
  width: 56px;
  height: 56px;
  margin: auto;
}

.firstLine {
  color: var(--gray-300);
  font-family: inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.secondLine {
  color: var(--gray-300);
  font-family: inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
