.container {
  min-height: 72px;
  height: 100%;
  margin-top: 24px;
  background-color: var(--gray-500);
  border-radius: 8px;
  border: 1px solid var(--gray-400);
  width: 100%;
  position: relative;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  width: 100%;
  gap: 12px;
  height: 100%;
}

.uncheckedButton {
  min-width: 17.455px;
  min-height: 17.455px;
  cursor: pointer;
  color: var(--blue);
  transition: 1s;
}

.uncheckedButton:hover {
  color: var(--blue-dark);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  transition: 0.2s;
}

.checkedButton {
  min-width: 17.455px;
  min-height: 17.455px;
  color: var(--purple-dark);
  cursor: pointer;
  transition: 1s;
}
.checkedButton:hover {
  color: var(--purple);
  transition: 0.2s;
}
.checkedStyle {
  text-decoration: line-through;
  line-break: auto;
  display: flex;
  gap: 12px;

  color: var(--gray-300);

  font-family: inter;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;

  line-height: 140%;
}
.uncheckedStyle {
  height: 100%;
  color: var(--gray-100);
  font-family: inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  line-break: auto;
  height: 100%;
  width: 100%;
  text-overflow: ellipsis;
}

.contentBox {
  display: flex;
  gap: 12px;
  align-items: center;
}

.trashButton {
  min-width: 12px;
  min-height: 14px;
  color: #808080;
  cursor: pointer;
}

.trashButton:hover {
  color: var(--red-danger);
  cursor: pointer;
}
