.container {
  min-height: 72px;
  height: auto;
  margin-top: 24px;
  background-color: var(--gray-500);
  border-radius: 8px;
  border: 1px solid var(--gray-400);
  width: 100%;
  position: relative;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  width: 100%;
  gap: 12px;
}

.uncheckedButton {
  width: 17.455px;
  height: 17.455px;
  cursor: pointer;
  color: var(--blue);
}

.uncheckedButton:hover {
  color: var(--blue-dark);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.checkedButton {
  color: var(--purple-dark);
  cursor: pointer;
}
.checkedButton:hover {
  color: var(--purple);
}
.content p {
  color: var(--gray-100);
  font-family: inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400px;
  line-height: 140%;
}

.contentBox {
  display: flex;
  gap: 12px;
}

.trashIcon button {
  border: 1px solid green;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
}
.trashIcon button :hover {
  background-color: var(--gray-400);
  cursor: pointer;
}
.trashButton {
  margin-bottom: 1px;
  width: 24px;
  height: 24px;
  color: #808080;
  cursor: pointer;
}

.trashButton:hover {
  color: var(--red-danger);
  cursor: pointer;
}
