.container {
  height: 100%;
  max-width: 688px;
  margin: auto;
}
.taskbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tasks {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 92px;
}
